@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .debug::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: limegreen;
    opacity: 0.2;
  }
  html {
    @apply bg-sky-50 text-sky-700 text-base text-center;
  }
  a {
    @apply transition-colors hover:text-sky-500;
  }
}
